<nav
  aria-label="Sidebar"
  class="sidebar border-border fixed top-16 left-0 z-40 h-[calc(100vh-4rem)] w-72 border-r p-4 shadow-sm lg:static lg:top-0 lg:h-full lg:shadow-none">
  <ul role="list" class="flex flex-col gap-2">
    <li>
      <a
        href="/app"
        data-route="dashboard"
        class="tab-link text-text-muted hover:bg-primary-50 hover:text-primary-800 aria-[current=page]:bg-primary-100 aria-[current=page]:text-primary-800 group flex items-center gap-3 rounded-xl px-3 py-2.5 text-sm font-semibold transition">
        <span class="material-symbols-outlined text-inherit">dashboard</span>
        Dashboard
      </a>
    </li>

    <li>
      <a
        href="/app/books"
        data-route="books"
        class="tab-link text-text-muted hover:bg-primary-50 hover:text-primary-800 aria-[current=page]:bg-primary-100 aria-[current=page]:text-primary-800 group flex items-center gap-3 rounded-xl px-3 py-2.5 text-sm font-semibold transition">
        <span class="material-symbols-outlined text-inherit">book_2</span>
        Books
      </a>
    </li>

    <li>
      <a
        href="/app/activties"
        data-route="activties"
        class="tab-link text-text-muted hover:bg-primary-50 hover:text-primary-800 aria-[current=page]:bg-primary-100 aria-[current=page]:text-primary-800 group flex items-center gap-3 rounded-xl px-3 py-2.5 text-sm font-semibold transition">
        <span class="material-symbols-outlined text-inherit">browse_activity</span>
        Activities
      </a>
    </li>

    <li>
      <a
        href="/app/users"
        data-route="users"
        class="tab-link text-text-muted hover:bg-primary-50 hover:text-primary-800 aria-[current=page]:bg-primary-100 aria-[current=page]:text-primary-800 group flex items-center gap-3 rounded-xl px-3 py-2.5 text-sm font-semibold transition">
        <span class="material-symbols-outlined text-inherit">group</span>
        Users
      </a>
    </li>
  </ul>
</nav>
